/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Container to limit size etc */
.container {
    width: 450px;
    min-height: 300px;
    background: #fff8dc;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #333;
}

h1 {
    padding-bottom: 30px;
}

p {
    font-size: larger;
}

/* The grid div */
.grid {
    display: grid;
    border: 20px solid #a14eaf;
    border-radius: 30px;
    padding: 10px;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #a2d6bf;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color:aliceblue;
}

.cell:hover {
    background-color: #c0ffe3;
    transform: scale(1.1);
}

.winning {
    background-color: rgb(7, 99, 35);
    transform: scale(1.15);
    pointer-events: none;
}

.draw {
    background-color:rgb(174, 149, 149);
    pointer-events: none;
}


#resetButton {
    margin: 5px;
    padding: 10px 20px;
    background-color: #cc1470;
    color: white;
    border-radius: 10px;
}


.winning-message {
    display: none;
    z-index: 10000;
    position: fixed;
    background-color:white;
    border: 10px solid green;
    height: 250px;
    width: 400px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.win-btn {
    border: 2px solid green;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

/* MESSAGE */

body#page-msg {
    background-color: rgb(255, 234, 237);
}

.dg-msg {
    position: relative;
    top: 20px;
    color:rgb(7, 99, 35);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    margin: 350px;
    margin-bottom: 100px;
    padding: 50px;
}

.dg-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dg-prg {
    color:rgb(0, 37, 0);
    margin: 30px;
}

img {
    width: 100px;
    transition: transform 0.3s ease;
    margin: 30px;
}

.grow {
    transform: scale(1.5);
}


#big-img {
    width: 300px;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
}

.next-page-button {
    display: flex;
    flex-direction: column;
    margin:20px;
    padding: 20px;
    justify-content: center;
}

#gift-msg {
    font-size: 30px;
    margin: 5px;
    color: #423e3e;
}

#next {
    border: 2px solid red;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;
}


/* GIFT */
body#page-gift {
    background-color: rgb(255, 234, 237);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gift-title {
    color:#65306e;
    margin-bottom: 30px;
    font-size: 30px;
}

#gift-img {
    width: 500px;
    margin: 15px;
}

#gift-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gift-btn {
    align-self: center;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(251, 121, 140);
}

#blur-msg {
    display: none;
    margin: 15px;
}

#hint-btn {
    display: none;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 5px;
}

#hint-popup {
    display: none;
    z-index: 10000;
    position: absolute;
    background-color:white;
    border: 2px solid rgb(199, 164, 247);
    border-radius: 15px;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 10px;
    height: 150px;
    width: auto;
    background-color: #fae2fe;
    margin: 30px;
}

#hint {
    padding: 0;
    margin: 0;
}

#hint-img {
    position: static;
    top: 0px;
    right: 5px;
    height: 50px;
    width: auto;
    z-index: auto;
}

.back-btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}